{% comment %} 
    This is a comment. It will not be rendered in the final HTML.
{% endcomment %}

<p>Hello world</p>

{%- assign my_string = 'This is a string' -%}
<p>{{- my_string -}}</p>

{%- assign my_number = 42 -%}
<p>{{- my_number -}}</p>

{%- assign my_boolean = true -%}
<p>{{- my_boolean -}}</p>

{%- assign my_nil = null -%}
<p>{{- my_nil -}}</p>

{% if undefined_variable == nil %}
    <p>
        The variable is nil
    </p>
    {% endif %}

{{ product.tags.size }}
